<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="NUMERIC"/>
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail" 		column="prod_detail" 		jdbcType="NUMERIC" />
		<result property="manuDate" 		column="manufacture_day" 	jdbcType="VARCHAR" />
		<result property="price" 			column="price" 				jdbcType="NUMERIC" />
		<result property="fileName" 		column="image_file" 		jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
	</resultMap>
	
	<insert 	id="addProduct"		parameterType="product" >
	 	INSERT
		INTO product( prod_no , prod_name , prod_detail , manufacture_day , price , image_file , reg_date) 
		VALUES	 ( seq_product_prod_no.NEXTVAL , #{prodName} , #{prodDetail} , #{manuDate} , 
							#{price} , #{fileName:VARCHAR} , SYSDATE )
	 </insert>
	
	 <select 	id="getProduct"	parameterType="_int"	resultMap="productSelectMap">
		SELECT
		prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date
		FROM product 
		WHERE prod_no = #{value}
	 </select>
	 
	  <update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 		= 	#{prodName},
			prod_detail		= 	#{prodDetail},
			manufacture_day	= 	#{manuDate},
			price			=	#{price},
			image_file		=	#{fileName}
			
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>

<select  id="getProductList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT prod_name, price, reg_date, prod_no <!-- 현재상태? --> 
											FROM product
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				prod_name = #{searchKeyword}
													</if>
												<!-- 	<if test="searchCondition == 1 and searchKeyword !='' ">
										 				user_name = #{searchKeyword}
													</if>  -->
												</where>
											</if>
											ORDER BY prod_name ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 
	  <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT prod_name, price, reg_date
						FROM product
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			user_id = #{searchKeyword}
								</if>
							<!-- <if test="searchCondition == 1 and searchKeyword !='' ">
						 		user_name = #{searchKeyword} 
								</if> -->
							</where>
						</if> ) countTable						
	 </select>

</mapper>